<!-- wp:template-part {"slug":"header-with-hero","theme":"publishtify"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"100%"}} -->
<main id="publishtify-main-content" class="wp-block-group">
  <!-- wp:pattern {"slug":"publishtify/featured-post-grid"} /-->
  <!-- wp:pattern {"slug":"publishtify/postlist-with-sidebar"} /-->
  <!-- wp:pattern {"slug":"publishtify/newsletter-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"publishtify","area":"footer"} /-->
