<!-- wp:template-part {"slug":"header","theme":"corboost","tagName":"header"} /-->

<!-- wp:pattern {"slug":"corboost/slider"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

<!-- wp:pattern {"slug":"corboost/about"} /-->

<!-- wp:pattern {"slug":"corboost/counter"} /-->

<!-- wp:pattern {"slug":"corboost/blog"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->