<!-- wp:group {"className":"smot","layout":{"type":"default"},"metadata":{"name":"Smoother Scrool"}} -->
<div class="wp-block-group smot"><!-- wp:group {"tagName":"main","align":"full","className":"smother_scroll","layout":{"type":"default"},"metadata":{"name":"Main Content"}} -->
<main class="wp-block-group alignfull smother_scroll"><!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80","top":"0","bottom":"0"}}},"gradient":"transition-three","className":"mobile_404","layout":{"type":"default"},"metadata":{"name":"Heading"}} -->
<div class="wp-block-group mobile_404 has-transition-three-gradient-background has-background" style="padding-top:0;padding-right:var(--wp--preset--spacing--80);padding-bottom:0;padding-left:var(--wp--preset--spacing--80)"><!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80","top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--80)"><!-- wp:heading {"textAlign":"center","className":"title","fontSize":"XX-Large","fontFamily":"sans-serif"} -->
<h2 class="wp-block-heading has-text-align-center title has-sans-serif-font-family has-xx-large-font-size">not found</h2>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"className":"text_404","fontSize":"XX-Large","fontFamily":"sans-serif"} -->
<h2 class="wp-block-heading has-text-align-center text_404 has-sans-serif-font-family has-xx-large-font-size" style="font-style:normal;font-weight:500">error 404</h2>
<!-- /wp:heading -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"align":"center","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"fontSize":"Large"} -->
<p class="has-text-align-center has-large-font-size" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">Oops! The page you are looking for could not be found. It may have been moved or deleted.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /--></main>
<!-- /wp:group --></div>
<!-- /wp:group -->