<!-- wp:group {"className":"smot","layout":{"type":"default"},"metadata":{"name":"Smoother Scrool"}} -->
<div class="wp-block-group smot"><!-- wp:group {"tagName":"main","align":"full","className":"smother_scroll","layout":{"type":"default"},"metadata":{"name":"Main Content"}} -->
<main class="wp-block-group alignfull smother_scroll"><!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80","top":"0","bottom":"0"}}},"gradient":"transition-three","className":"sample_page","layout":{"type":"default"},"metadata":{"name":"Sample Page"}} -->
<div class="wp-block-group sample_page has-transition-three-gradient-background has-background" style="padding-top:0;padding-right:var(--wp--preset--spacing--80);padding-bottom:0;padding-left:var(--wp--preset--spacing--80)"><!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80","top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--80)"><!-- wp:heading {"textAlign":"center","className":"title","fontSize":"XX-Large","fontFamily":"sans-serif"} -->
<h2 class="wp-block-heading has-text-align-center title has-sans-serif-font-family has-xx-large-font-size">sample</h2>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"fontSize":"XX-Large","fontFamily":"sans-serif"} -->
<h2 class="wp-block-heading has-text-align-center has-sans-serif-font-family has-xx-large-font-size" style="font-style:normal;font-weight:500">page</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae fermentum enim, a viverra lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis ultrices arcu, nec dignissim elit aliquet sed. Nulla facilisi. Donec ut lobortis odio. Morbi ornare ligula nec augue dapibus, eu dignissim nisl efficitur. Vestibulum sit amet tortor ut nisl placerat efficitur eget sit amet nisl. Pellentesque ipsum diam, venenatis vitae arcu finibus, ornare eleifend massa. </p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /--></main>
<!-- /wp:group --></div>
<!-- /wp:group -->