<!-- wp:group {"className":"smot","layout":{"type":"default"},"metadata":{"name":"Smoother Scrool"}} -->
<div class="wp-block-group smot"><!-- wp:group {"tagName":"main","align":"full","className":"smother_scroll","layout":{"type":"default"},"metadata":{"name":"Main Content"}} -->
    <main class="wp-block-group alignfull smother_scroll"><!-- wp:template-part {"slug":"header","area":"header","theme":"eclipse-creative-portfolio"} /-->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80","top":"0","bottom":"var:preset|spacing|80"}}},"gradient":"transition-three","className":"content_mobile_header","layout":{"type":"default"},"metadata":{"name":"Heading Project"}} -->
    <div class="wp-block-group content_mobile_header has-transition-three-gradient-background has-background" style="padding-top:0;padding-right:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--80)"><!-- wp:post-title {"textAlign":"center","style":{"typography":{"textTransform":"uppercase"}},"className":"title","fontSize":"XX-Large","fontFamily":"sans-serif"} /-->
    
    <!-- wp:paragraph {"align":"center","style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|80","left":"0","right":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|fifth"}}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"fifth","fontSize":"Large"} -->
    <p class="has-text-align-center has-fifth-color has-text-color has-link-color has-large-font-size" style="padding-top:0;padding-right:0;padding-bottom:var(--wp--preset--spacing--80);padding-left:0;font-style:normal;font-weight:500">BRAND IDENTITY</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:separator -->
    <hr class="wp-block-separator has-alpha-channel-opacity"/>
    <!-- /wp:separator -->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:paragraph {"align":"center","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"fontSize":"medium"} -->
    <p class="has-text-align-center has-medium-font-size" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">Autor</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:post-author-name {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|fifth"}}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"fifth","fontSize":"Large"} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:paragraph {"align":"center","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"fontSize":"medium"} -->
    <p class="has-text-align-center has-medium-font-size" style="padding-top:0;padding-bottom:0">Published</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:post-date {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|fifth"}}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"fifth","fontSize":"Large"} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:paragraph {"align":"center","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"fontSize":"medium"} -->
    <p class="has-text-align-center has-medium-font-size" style="padding-top:0;padding-bottom:0">Tags</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:post-terms {"term":"post_tag","style":{"elements":{"link":{"color":{"text":"var:preset|color|fifth"}}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"fifth","fontSize":"medium"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"className":"content_mobile","layout":{"type":"default"},"metadata":{"name":"Project Details"}} -->
    <div class="wp-block-group content_mobile"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"0","right":"0"}}},"backgroundColor":"dark","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"},"metadata":{"name":"Project Image"}} -->
    <div class="wp-block-group has-dark-background-color has-background" style="padding-top:var(--wp--preset--spacing--80);padding-right:0;padding-bottom:var(--wp--preset--spacing--80);padding-left:0"><!-- wp:post-featured-image /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"backgroundColor":"dark","layout":{"type":"constrained"},"metadata":{"name":"About"}} -->
    <div class="wp-block-group has-dark-background-color has-background"><!-- wp:post-content /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"gradient":"transition-two","layout":{"type":"constrained"},"metadata":{"name":"Transition to Footer"}} -->
    <div class="wp-block-group has-transition-two-gradient-background has-background"><!-- wp:spacer {"height":"272px"} -->
    <div style="height:272px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","area":"footer","theme":"eclipse-creative-portfolio"} /--></main>
    <!-- /wp:group --></div>
    <!-- /wp:group -->